.navbar {
    background-image: -webkit-linear-gradient(#E6E6FA,#2fa4e7 60%,#1d9ce5);
    background-image: linear-gradient(#E6E6FA,#2fa4e7 60%,#1d9ce5);
    background-repeat: no-repeat;
    border-bottom: 1px solid #E6E6FA;
